.block {
    display: flex;
    width: 71%;
    margin: 0 auto;
    background-color: $main-color;

    .block__list {
        @include flex(row, space-around, center);
        flex-flow: row wrap;
        
        .block__item {
            @include flex(row, center, center);
            width: 25%;
            padding: 35px 3%;
            border-bottom: 1px solid $primary-color;
            border-right: 1px solid $primary-color;

            .block__img {
                width: 10vw;
                min-width: 10vw;
            }
        }
    }
}


