.card-container {
    padding: 0 14.5%;
    margin: 0 auto;

    .card {
        display: flex;
        gap: 3%;
        
        .card-body {
            display: flex;
            background-color: $accent-color;
            width: 78%;
            padding: 35px 4.3% 35px 4%;
            
            .text-container {
                @include flex(column, space-between, flex-start);
                gap: 25px;
                
                    .card__title {
                        color: $main-color;
                        font-family: 'Roboto', Arial, Helvetica, sans-serif;
                        font-weight: 700;
                        font-size: 1.125rem;
                    }
                
                    .card__text {
                        color: $main-color;
                        font-size: 0.875rem;
                    }
                
                    .card__input {
                        border: none;
                        border-radius: 30px;
                        padding: 9px 9%;
                        font-size: .875rem;
                    }
                }
                
                .svg-container {
                    width: 50%;
                    @include flex(row, flex-end, center);

                    .svg-container__img {
                        width: 80%;
                    }

                    .svg-container__img--mod {
                        width: 80%;
                    }
                }

            .card-btn {
                background-color: $accent-color;
                font-size: .875rem;

                &:hover {
                    box-shadow: 2px 2px 2px $dark-color;
                }
            }
        }
    }
}