.footer {
    width: 100%;
    background-color: $main-color;
    
    .categories {
        @include flex(row, space-between, flex-start);
        margin-bottom: 60px;
        padding: 80px 15% 0 15%;

        .categories__block {
            @include flex(column, space-between, flex-start);
            gap: 30px;

            .categories__heading {
                width: 100%;
                font-weight: 700;
                line-height: 22.5px;
                padding-bottom: 30px;
                border-bottom: 1px solid $primary-color;
            }

            .categories__link {
                color: $additional-color;
                line-height: 28px;
                font-size: 0.75px;
                
                &:hover {
                    text-decoration: underline;
                }
            }
        }  
    }

    .social {
        display: flex;
        justify-content: space-between;
        padding: 37px 15%;
        border-top: 1px solid $primary-color;

        .social__nav {
            @include flex(row, space-between, center);
            gap: 10%;
        }
    }

    .call {
        gap: 40px;
    }
    .call__link {
        font-size: 0.9rem;
        line-height: normal;
        color: $special-color;
    }
    
    .call__btn {
        border-color:  $accent-color;
        background-color: $main-color;

        &:hover {
            box-shadow: 2px 2px 2px $dark-color;
        }
    }

    .footer-add {
        @include flex(row, space-between, center);
        padding: 25px 15%;
        background-color: $primary-color;

        .copy {
            font-size: 0.75px;
            color: $additional-color;
        }
    }
}