//variables

$accent-color:  #F13C6E;
$main-color: #FFF;
$primary-color: #EFEFEF;
$dark-color: #333;
$additional-color: #828282;
$special-color: #000;
//reset

* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    font-weight: normal;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    outline: none;
}

html {
    font-size: 16px;
}

body {
    font-size: 1rem;
    background-color: $primary-color;
}

.btn {
    border: 2px solid;
    border-radius: 40px;
    padding: 12px 15%;
    font-size: .875rem;
}

.btn.btn-link {
    color: $main-color;
}