.offers {
    width: 71%;
    margin: 0 auto;
    padding: 80px 0 100px;
}

.offers>h3 {
    color: $special-color;
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 40px;
}

.goods {
    @include flex(row, space-between, center);
    gap: 3%;
    // width: 100%;

    .goods__item {
        @include flex(column, space-between, center);
        gap: 20px;
        padding: 25px;
        background-color: $main-color;

        .item-img {
            width: 100%;
        }
        .item__name {
            text-align: center;
        }
        .products {
            color: $dark-color;
            font-size: .9rem;
            &:hover {
                text-decoration: underline;
            }
        }

        .item__price {
            color: $special-color;
            text-align: center;
            font-size: 21px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            letter-spacing: 1.05px;
        }
        
        .item__btn {
            border-color: $accent-color;
            background-color: $accent-color;
            color: $main-color;
            padding: 9px 30%;
            text-transform: capitalize;

            &:hover {
                cursor: pointer;
                text-decoration: underline;
                box-shadow: 2px 2px 2px $dark-color;
            }
        }
    }
}